doctype html
html(lang="en")
  - var base = ''
  - var active = 'home'
  - var description = 'A JavaScript library that makes reading Go results super easy';

  block variables

  mixin link(anchor, href, icon, activeName)
    li(class = active === activeName ? 'active' : '')
      a(href=href)
        span!= octicons[icon].toSVG()
        span= anchor

  head
    block title
    meta(charset="utf-8")

    meta(name="viewport", content="width=device-width")
    meta(name="description", content=description)
    meta(name="keywords", content="go,baduk,weici,igo,results,standings,highlighter")
    meta(name="author", content="Artur Barcicki")
    meta(property="og:title", content="Go Results Highlighter")
    meta(property="og:description", content=description)

    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic", rel="stylesheet", type="text/css")
    script(src="https://code.jquery.com/jquery-3.5.0.min.js")
    link(href=base + siteCss, rel="stylesheet", type="text/css")
    link(href=base + browserCss, rel="stylesheet", type="text/css")
    script(src=base + siteJs)
    script(src=base + componentJs)
    script(src=base + browserJs)
    block head

  body
    header
      .content
        h1 Go Results Highlighter
          small #{pkg.version}
        h2 by Artur Barcicki

    nav
      .content
        ul
          +link("Home", base + "", "home", "home")
          +link("Documentation", base + "docs", "file", "docs")
          +link("Examples", base + "examples/binding.html", "eye", "examples")

        ul.github
          +link("GitHub", "https://github.com/barcicki/go-results-highlighter", "mark-github")
          +link("Download .zip", "https://github.com/barcicki/go-results-highlighter/zipball/master", "download")
          +link("Download .tar.gz", "https://github.com/barcicki/go-results-highlighter/tarball/master", "download")

    block content
