doctype html
html(lang="en")

    - var base = ''
    block variables
    
    head
        block title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic", rel="stylesheet", type="text/css")
        link(href=base + "go-results-highlighter.css", rel="stylesheet", type="text/css")
        link(href=base + "styles/styles.css", rel="stylesheet", type="text/css")
        link(href=base + "components/octicons/octicons/octicons.css", rel="stylesheet", type="text/css")
        link(href=base + "components/highlightjs/styles/github.css", rel="stylesheet", type="text/css")
        script(src=base + "components/highlightjs/highlight.pack.js")
        script(src=base + "go-results-highlighter.js")
        script(src=base + "scripts/main.js")
        block head
    
    body
        header
            .content
                h1 Go Results Highlighter
                h2 by Artur Barcicki

        nav
            .content
                ul.github
                    li
                        a(href="https://github.com/barcicki/go-results-highlighter")
                            span.octicon.octicon-mark-github
                            span View on GitHub
                    li
                        a(href="https://github.com/barcicki/go-results-highlighter/zipball/master")
                            span.octicon.octicon-cloud-download
                            span Download .zip
                    li
                        a(href="https://github.com/barcicki/go-results-highlighter/tarball/master")
                            span.octicon.octicon-cloud-download
                            span Download .tar.gz
                ul
                    li
                        a(href=base + "")
                            span.octicon.octicon-home
                            span Home
                    li
                        a(href=base + "docs")
                            span.octicon.octicon-file-text
                            span Documenation
                    li
                        a(href=base + "examples")
                            span.octicon.octicon-eye
                            span Examples

        block content
